html{
    font-size:16px;
}

body {
    font-size: 16px;
}

p{
    margin:0;
}
a {
    color: #000000; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }
*{
    font-family: 'Poppins', Helvetica, Arial, sans-serif;
}

.header{
    background-color:#0171ED;
    padding: 10px 15px;
    color:#ffffff;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
    left:0;
}
body{
    padding-bottom:60px;
}

.header p{
    display:inline-block;
    vertical-align:middle;
}
.header-search input{
    width: 100%;
    margin-top: 15px;
    padding-left: 10%;
    padding-right: 20%;
    height: 50px;
    border-radius: 10px;
}

.header-search .form-group{
    position:relative;
}

.header-search .search-icon{
    position: absolute;
    top: 30px;
    left: 25px;
}
.header-search .filter-icon{
    position: absolute;
    top: 28px;
    right: 30px;
}

.header .address-span{
    margin-left:5px;
}

.row{
    -webkit-display: flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}

.icon{
    width: 32px;
    height: 32px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.filter-collapse{
    display: none;
    background-color: white;
    color: black;
    border-radius: 10px;
    position: absolute;
    border: 1px solid #94E1B7;
    right: 10px;
    top: 65px;
}
.filter-collapse ul{
    margin: 0;
    list-style-type: none;
    padding: 0;
    min-width: 130px;
    font-size: .8rem;
}
.filter-collapse ul li{
    border-bottom: 1px solid #94E1B7;
    padding: 5px 10px;
    color:#7F7D94;
}
.filter-collapse ul li.selected{
    font-weight:bold;
    color:#000000;
}
.collapsed{
    display:inline-block;
}

.home-page, .search-page{
    background-color:#F8F9FA;
    height:100%;
    padding:15px;
}
.home-page h1{
    font-size:2.5rem;
    font-weight:800;
    margin-bottom:20px;
}
.product-card{
    background-color:#FFFFFF;
    border-radius:15px;
    padding:10px;
    text-align:center;
    padding-top:20px;
    position:relative;
}
.product-card .card-image{
    max-width:100%;
}
.product-card .card-tag{
    font-size:.65rem;
    color:#00BC56;
    display:inline-block;
    position:absolute;
    top:10px;
    right:10px;
    font-weight:800;
}
.search-results-list .product-card .card-tag{
    bottom: -20px;
    top: initial;
    right: initial;
    left: 15px;
}
.product-card .card-tag span{
    border:1px solid #94E1B7;
    border-radius:10px;
    padding:0 5px;
}
.product-card .shop-tag{
    bottom:10px;
    top:initial;
}
.product-card .shop-tag span{
    border:1px solid #0171ED;
    color: #0171ED;
    border-radius:20px;
    padding:0 5px;
    font-size:0.9rem;
    padding:3px 7px;
    font-weight:600;
}
.product-card .card-text{
    text-align:left;
}
.product-card:not(.search-card) .card-text.shop-text{
    text-align:right;
}
.product-card .card-title{
    font-weight:600;
    margin:0;
    font-size:0.9rem;
}
.product-card .card-title.shop-title{
    font-weight:800;
    font-size:1rem;
}
.product-card.search-card{
    margin-bottom:20px;
    padding-top:10px;
    padding-bottom:20px;
}
.product-card .card-rating{
    font-weight:400;
}
.product-card .card-rating img{
    display:inline;
}
.product-card .card-rating p{
    display:inline;
    font-size:.75rem;
}
.product-card .card-rating.locations p{
    display:inline;
    font-size:.9rem;
}

.product-card .fav-heart{
    position:absolute;
    top:10px;
    right:10px;
}

footer{
    height:65px;
    background-color: white;
}
.footer-icon-container{
    width:19%;
    text-align:center;
    height:100%;
    position:relative;
    display:inline-block;
    padding:10px 0;
    margin-bottom:10px;
    font-size:.75rem;
}
.footer-icon-container img{
    max-height:25px;
}
.footer-icon-container span{
    display:block;
}
.nav-footer{
    display:inline;
}
.selected{
    color: #0171ED;
    font-weight:600;
    border-top:2px solid #0171ED;
}
.p-bot-30{
    padding-bottom:30px;
}
.no-padding{
    padding:0;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
.div-top-position{
    position: relative;
    top: -20px;
    border-radius: 10px;
  
}
.ico-grupo-position{
    top: -21px;
    position: relative;
}
.card-position{
    position: initial !important;
}
.h5-position{
    font-weight: bold;
    text-align: left;
}
.p-color{
    color: #1a181863;
}
.p-aling{
    text-align: left;
}
.card-back{
    background-color: #ffffff00;
}
.conteiner-sty{
    position: relative;
    top: -30px;
    border-radius: 15px;
}
.p-font-precio{
    font-weight: bold;
    color: #00BC56;
    font-size: 20px;
}
